In [1]:
import pandas as pd
import numpy as np

import psycopg2
import psycopg2.extras

In [2]:
data_dir = "./dataset/"

### Retrieve data from ncdw database
* Data source: Bangladesh Eye Hospital 
* Data size:1161654

In [3]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ncdw_dev",
                                           user = "raihan",
                                           password = "NCDW@4321*",
                                           host = "103.94.135.217",
                                           port = "5454")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [4]:
conn = PostgresConnection().getConnection()

successfully connected to database

### Select top 25 Test

In [5]:
conn = PostgresConnection().getConnection()
query = "SELECT lab.lab_name, t.test_key, test.test_name, test.specimen, count(*) total_records " \
        "FROM centraldw.fact_testresult t " \
        "JOIN centraldw.dim_testitem test on test.test_key=t.test_key " \
        "JOIN centraldw.dim_lab lab on lab.lab_key=t.lab_key " \
        "GROUP BY lab.lab_name, test.specimen, t.test_key, test.test_name " \
        "ORDER BY total_records DESC " \
        "LIMIT 25 "
cur = conn.cursor()
cur.execute(query)
res = cur.fetchall()
cur.close()
test_df = pd.DataFrame(list(res), columns=['lab_name', "test_key", "test_name", "specimen", "total_records" ])

successfully connected to database

In [8]:
test_df.to_csv(data_dir + "source-1/labtest.csv", index=False)

In [9]:
test_df

,lab_name,test_key,test_name,specimen,total_records
0,Haematology,10655,CBC,BLOOD,627690
1,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),URINE,121310
2,Microbiology,10252,Urine for C/S,URINE,110052
3,Microbiology,10217,Blood for C/S,BLOOD,77688
4,Clinical Pathology,10616,Urine R/M/E,URINE,29287
5,Biochemistry,10937,Electrolytes Serum,BLOOD.,24024
6,BLOOD TRANSFUSION,10057,Grouping + Cross Matching + Screening,BLOOD,16965
7,Clinical Pathology,10617,Stool R/E,STOOL,12854
8,Microbiology,10157,Stool for C/S,STOOL,9328
9,Biochemistry,10899,Serum creatinine level,BLOOD,7647
10,Biochemistry,11079,"Renal Function Test (Urea, Creatinine, Electro...",BLOOD,6186
11,Biochemistry,10191,Lipid Profile Serum (F),BLOOD.,5248
12,Serology,10550,Prothrombin Time (PT),BLOOD,5065
13,Biochemistry,10453,RBG - Random blood glucose,BLOOD,4648
14,Haematology,10664,Blood Film (PBF),WHOLE BLOOD,4545
15,Biochemistry,10921,ALT(SGPT) Serum,BLOOD,4205
16,Microbiology,10577,Sputum for C/S,SPUTUM.,3666
17,Biochemistry,10626,Lipid Profile Serum (R),BLOOD,3644
18,Microbiology,10735,Tracheal Aspirate for C/S,TRACHEAL ASPIRATE,3619
19,Biochemistry,10914,Blood Gas Analysis Arterial (ABG),BLOOD.,3594
20,Immunology,10531,CRP (C-Reactive Protein),BLOOD,3233
21,BLOOD TRANSFUSION,10793,Grouping+ICT+Cross Matching + Screening,BLOOD,3097
22,Immunology,10309,TSH,BLOOD,2959
23,Biochemistry,10693,FBG - Fasting blood glucose,BLOOD,2938
24,Biochemistry,10816,HbA1c,WHOLE BLOOD,2466

In [10]:
test_df.dtypes

lab_name         object
test_key          int64
test_name        object
specimen         object
total_records     int64
dtype: object

In [11]:
test_df

,lab_name,test_key,test_name,specimen,total_records
0,Haematology,10655,CBC,BLOOD,627690
1,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),URINE,121310
2,Microbiology,10252,Urine for C/S,URINE,110052
3,Microbiology,10217,Blood for C/S,BLOOD,77688
4,Clinical Pathology,10616,Urine R/M/E,URINE,29287
5,Biochemistry,10937,Electrolytes Serum,BLOOD.,24024
6,BLOOD TRANSFUSION,10057,Grouping + Cross Matching + Screening,BLOOD,16965
7,Clinical Pathology,10617,Stool R/E,STOOL,12854
8,Microbiology,10157,Stool for C/S,STOOL,9328
9,Biochemistry,10899,Serum creatinine level,BLOOD,7647
10,Biochemistry,11079,"Renal Function Test (Urea, Creatinine, Electro...",BLOOD,6186
11,Biochemistry,10191,Lipid Profile Serum (F),BLOOD.,5248
12,Serology,10550,Prothrombin Time (PT),BLOOD,5065
13,Biochemistry,10453,RBG - Random blood glucose,BLOOD,4648
14,Haematology,10664,Blood Film (PBF),WHOLE BLOOD,4545
15,Biochemistry,10921,ALT(SGPT) Serum,BLOOD,4205
16,Microbiology,10577,Sputum for C/S,SPUTUM.,3666
17,Biochemistry,10626,Lipid Profile Serum (R),BLOOD,3644
18,Microbiology,10735,Tracheal Aspirate for C/S,TRACHEAL ASPIRATE,3619
19,Biochemistry,10914,Blood Gas Analysis Arterial (ABG),BLOOD.,3594
20,Immunology,10531,CRP (C-Reactive Protein),BLOOD,3233
21,BLOOD TRANSFUSION,10793,Grouping+ICT+Cross Matching + Screening,BLOOD,3097
22,Immunology,10309,TSH,BLOOD,2959
23,Biochemistry,10693,FBG - Fasting blood glucose,BLOOD,2938
24,Biochemistry,10816,HbA1c,WHOLE BLOOD,2466

### All data types of the attribute of selected test

In [12]:
conn = PostgresConnection().getConnection()
values = tuple(list(test_df['test_key']))
query = "SELECT t.test_key, test.test_name, t.attr_key, attr.attr_name, t.test_result, attr.unit, count(*) as record_count " \
        "FROM centraldw.fact_testresult t " \
        "JOIN centraldw.dim_hospital h on h.hospital_key=t.hospital_key " \
        "JOIN centraldw.dim_lab lab on lab.lab_key=t.lab_key " \
        "JOIN centraldw.dim_testitem test on test.test_key=t.test_key " \
        "JOIN centraldw.dim_attribute attr on attr.attr_key=t.attr_key " \
        "WHERE t.test_key IN {} " \
        "GROUP BY t.test_key, test.test_name, t.attr_key, attr.attr_name, t.test_result, attr.unit " \
        "ORDER BY test.test_name".format(values)
cur = conn.cursor()
cur.execute(query)
res = cur.fetchall()
cur.close()
data_df = pd.DataFrame(list(res), columns=["test_key", "test_name", 'attr_key', "attribute", "result", 'unit', "record_count" ])
data_df

successfully connected to database

,test_key,test_name,attr_key,attribute,result,unit,record_count
0,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10,U/L,14
1,10921,ALT(SGPT) Serum,14344,ALT (SGPT),100,U/L,6
2,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10.0,U/L,1
3,10921,ALT(SGPT) Serum,14344,ALT (SGPT),1000,U/L,2
4,10921,ALT(SGPT) Serum,14344,ALT (SGPT),101,U/L,3
...,...,...,...,...,...,...,...
16449,10616,Urine R/M/E,13029,Spermatozoa,(+),Null,7
16450,10616,Urine R/M/E,13029,Spermatozoa,(++),Null,3
16451,10616,Urine R/M/E,13029,Spermatozoa,Few,Null,1
16452,10616,Urine R/M/E,13029,Spermatozoa,Nil,Null,420
16453,10616,Urine R/M/E,13029,Spermatozoa,Null,Null,289

In [13]:
data_df.to_csv(data_dir + "source-1/attribute.csv", index=False)

In [14]:
test_df

,lab_name,test_key,test_name,specimen,total_records
0,Haematology,10655,CBC,BLOOD,627690
1,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),URINE,121310
2,Microbiology,10252,Urine for C/S,URINE,110052
3,Microbiology,10217,Blood for C/S,BLOOD,77688
4,Clinical Pathology,10616,Urine R/M/E,URINE,29287
5,Biochemistry,10937,Electrolytes Serum,BLOOD.,24024
6,BLOOD TRANSFUSION,10057,Grouping + Cross Matching + Screening,BLOOD,16965
7,Clinical Pathology,10617,Stool R/E,STOOL,12854
8,Microbiology,10157,Stool for C/S,STOOL,9328
9,Biochemistry,10899,Serum creatinine level,BLOOD,7647
10,Biochemistry,11079,"Renal Function Test (Urea, Creatinine, Electro...",BLOOD,6186
11,Biochemistry,10191,Lipid Profile Serum (F),BLOOD.,5248
12,Serology,10550,Prothrombin Time (PT),BLOOD,5065
13,Biochemistry,10453,RBG - Random blood glucose,BLOOD,4648
14,Haematology,10664,Blood Film (PBF),WHOLE BLOOD,4545
15,Biochemistry,10921,ALT(SGPT) Serum,BLOOD,4205
16,Microbiology,10577,Sputum for C/S,SPUTUM.,3666
17,Biochemistry,10626,Lipid Profile Serum (R),BLOOD,3644
18,Microbiology,10735,Tracheal Aspirate for C/S,TRACHEAL ASPIRATE,3619
19,Biochemistry,10914,Blood Gas Analysis Arterial (ABG),BLOOD.,3594
20,Immunology,10531,CRP (C-Reactive Protein),BLOOD,3233
21,BLOOD TRANSFUSION,10793,Grouping+ICT+Cross Matching + Screening,BLOOD,3097
22,Immunology,10309,TSH,BLOOD,2959
23,Biochemistry,10693,FBG - Fasting blood glucose,BLOOD,2938
24,Biochemistry,10816,HbA1c,WHOLE BLOOD,2466