In [3]:
import pandas as pd
import numpy as np

In [16]:
data_dir = "./dataset/"

### Dataset curation
* Finding the types of data for each of the selected test
* Finding the possible data points of each attribute of the test
* store data in a csv file

## Source 1

In [21]:
source1 = pd.read_csv(data_dir + "source-1/all_testresult.csv")

In [22]:
source1.shape

(16454, 7)

In [23]:
source1['result'] = source1['result'].astype(str)
source1['result'] = source1['result'].apply(lambda x: x.strip())
source1['result'] = source1['result'].apply(lambda x: np.nan if x == 'Null' else x)
# source1['result'] = source1['result'].replace('Null', np.nan)
# source1 = source1.replace('Null', np.nan)
print(source1.shape)
# source1 = source1.dropna(inplace=True)
source1 = source1.dropna(how='any')
# print(source1.shape)
source1.index = np.arange(0, len(source1))
source1

(16454, 7)

,test_key,test_name,attr_key,attribute,result,unit,record_count
0,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10,U/L,14
1,10921,ALT(SGPT) Serum,14344,ALT (SGPT),100,U/L,6
2,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10.0,U/L,1
3,10921,ALT(SGPT) Serum,14344,ALT (SGPT),1000,U/L,2
4,10921,ALT(SGPT) Serum,14344,ALT (SGPT),101,U/L,3
...,...,...,...,...,...,...,...
16027,10616,Urine R/M/E,13028,Yeast,Trace,Null,3
16028,10616,Urine R/M/E,13029,Spermatozoa,(+),Null,7
16029,10616,Urine R/M/E,13029,Spermatozoa,(++),Null,3
16030,10616,Urine R/M/E,13029,Spermatozoa,Few,Null,1
16031,10616,Urine R/M/E,13029,Spermatozoa,Nil,Null,420

In [24]:
types = []
for index, row in source1.iterrows():
#     print(row['test_name'], row['attribute'], row['result'], type(row['result']))
    try:
        val = float(row['result'])
        types.append('Neumerical')
    except:
        types.append('Categorical')
#         print("That's not an int!")
print(len(types), source1.shape)
# print(types)
source1['data_type'] = pd.DataFrame(types)
print(source1)

16032 (16032, 7)
       test_key        test_name  attr_key    attribute result  unit  \
0         10921  ALT(SGPT) Serum     14344   ALT (SGPT)     10   U/L
1         10921  ALT(SGPT) Serum     14344   ALT (SGPT)    100   U/L
2         10921  ALT(SGPT) Serum     14344   ALT (SGPT)   10.0   U/L
3         10921  ALT(SGPT) Serum     14344   ALT (SGPT)   1000   U/L
4         10921  ALT(SGPT) Serum     14344   ALT (SGPT)    101   U/L
...         ...              ...       ...          ...    ...   ...
16027     10616      Urine R/M/E     13028        Yeast  Trace  Null
16028     10616      Urine R/M/E     13029  Spermatozoa    (+)  Null
16029     10616      Urine R/M/E     13029  Spermatozoa   (++)  Null
16030     10616      Urine R/M/E     13029  Spermatozoa    Few  Null
16031     10616      Urine R/M/E     13029  Spermatozoa    Nil  Null

       record_count    data_type
0                14   Neumerical
1                 6   Neumerical
2                 1   Neumerical
3                 2   Neumerical
4                 3   Neumerical
...             ...          ...
16027             3  Categorical
16028             7  Categorical
16029             3  Categorical
16030             1  Categorical
16031           420  Categorical

[16032 rows x 8 columns]

In [25]:
source1

,test_key,test_name,attr_key,attribute,result,unit,record_count,data_type
0,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10,U/L,14,Neumerical
1,10921,ALT(SGPT) Serum,14344,ALT (SGPT),100,U/L,6,Neumerical
2,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10.0,U/L,1,Neumerical
3,10921,ALT(SGPT) Serum,14344,ALT (SGPT),1000,U/L,2,Neumerical
4,10921,ALT(SGPT) Serum,14344,ALT (SGPT),101,U/L,3,Neumerical
...,...,...,...,...,...,...,...,...
16027,10616,Urine R/M/E,13028,Yeast,Trace,Null,3,Categorical
16028,10616,Urine R/M/E,13029,Spermatozoa,(+),Null,7,Categorical
16029,10616,Urine R/M/E,13029,Spermatozoa,(++),Null,3,Categorical
16030,10616,Urine R/M/E,13029,Spermatozoa,Few,Null,1,Categorical
16031,10616,Urine R/M/E,13029,Spermatozoa,Nil,Null,420,Categorical

In [26]:
g = source1.groupby('attr_key', as_index = False)['result'].agg(['unique'])
g

                                                     unique
attr_key
10428     [00, 02, 03, 10, 101, 102, 1044, 1053, 1075, 1...
10429     [01, 01 Bag, 01  Bag, 01 Unit, 01- Unit, 1, 10...
10430                                                 [Bag]
10431            ["A", AB, "AB", ''B'', "B", O, ''O'', "O"]
10432                        [Negative, positive, Positive]
...                                                     ...
15126     [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.0, 10...
15127     [108, 113, 114, 117, 118, 119, 121, 122, 123, ...
15128     [1.4, 1.7, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, ...
15129     [100, 101, 102, 103, 104, 105, 106, 107, 108, ...
15130     [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...

[286 rows x 1 columns]

In [27]:
g = g.reset_index(level=0)

In [28]:
g

     attr_key                                             unique
0       10428  [00, 02, 03, 10, 101, 102, 1044, 1053, 1075, 1...
1       10429  [01, 01 Bag, 01  Bag, 01 Unit, 01- Unit, 1, 10...
2       10430                                              [Bag]
3       10431         ["A", AB, "AB", ''B'', "B", O, ''O'', "O"]
4       10432                     [Negative, positive, Positive]
..        ...                                                ...
281     15126  [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.0, 10...
282     15127  [108, 113, 114, 117, 118, 119, 121, 122, 123, ...
283     15128  [1.4, 1.7, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, ...
284     15129  [100, 101, 102, 103, 104, 105, 106, 107, 108, ...
285     15130  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...

[286 rows x 2 columns]

In [29]:
g

     attr_key                                             unique
0       10428  [00, 02, 03, 10, 101, 102, 1044, 1053, 1075, 1...
1       10429  [01, 01 Bag, 01  Bag, 01 Unit, 01- Unit, 1, 10...
2       10430                                              [Bag]
3       10431         ["A", AB, "AB", ''B'', "B", O, ''O'', "O"]
4       10432                     [Negative, positive, Positive]
..        ...                                                ...
281     15126  [0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1, 1.0, 10...
282     15127  [108, 113, 114, 117, 118, 119, 121, 122, 123, ...
283     15128  [1.4, 1.7, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, ...
284     15129  [100, 101, 102, 103, 104, 105, 106, 107, 108, ...
285     15130  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...

[286 rows x 2 columns]

In [30]:
source1 = source1.merge(g, how='outer', on='attr_key')

In [31]:
source1.columns.to_list()

['test_key',
 'test_name',
 'attr_key',
 'attribute',
 'result',
 'unit',
 'record_count',
 'data_type',
 'unique']

In [32]:
source1_df=source1.drop_duplicates(['test_key','attr_key', 'data_type'])[['test_key',
 'test_name',
 'attr_key',
 'attribute',
 'data_type', 'unit',
 'unique']]

In [33]:
source1_df

,test_key,test_name,attr_key,attribute,data_type,unit,unique
0,10921,ALT(SGPT) Serum,14344,ALT (SGPT),Neumerical,U/L,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
305,10664,Blood Film (PBF),13425,WBC,Categorical,NUNIT,[Increase in number with fair number of myeloc...
432,10664,Blood Film (PBF),13426,Platelets,Categorical,NUNIT,"[Adequate, Adequate., Adequate with variable i..."
474,10664,Blood Film (PBF),13427,Malarial Parasite,Neumerical,NUNIT,"[nan, Normal blood film., Not found, Not found.]"
475,10664,Blood Film (PBF),13427,Malarial Parasite,Categorical,NUNIT,"[nan, Normal blood film., Not found, Not found.]"
...,...,...,...,...,...,...,...
16019,10616,Urine R/M/E,13025,Dead Sperm,Categorical,Null,[0-1]
16020,10616,Urine R/M/E,13026,Cystine crystal,Categorical,Null,[Nil]
16021,10616,Urine R/M/E,13027,Cellular,Categorical,Null,"[(+), a few, Nil]"
16024,10616,Urine R/M/E,13028,Yeast,Categorical,Null,"[(+), (++), Nil, Trace]"
16028,10616,Urine R/M/E,13029,Spermatozoa,Categorical,Null,"[(+), (++), Few, Nil]"

### Filter selectd attribute

In [34]:
selected_attr = pd.read_csv(data_dir +  "source-1/SelectedAttribute.csv")
attr_l = selected_attr["attribute_key"].to_list()

In [35]:
attr_l

[13387,
 14491,
 14498,
 14499,
 14501,
 14512,
 14517,
 14521,
 14522,
 14526,
 14366,
 14367,
 13498,
 13952,
 13070,
 13069,
 13071,
 13068,
 10431,
 10432,
 10440]

In [36]:
# source1_df[source1_df['attr_key'].isin(attr_l)].to_csv(data_dir + "source-1/data_categories.csv", index=False)
source1[source1['attr_key'].isin(attr_l)].to_csv(data_dir + "source-1/selected_testresults.csv", index=False)

In [37]:
# source1_df.to_csv(data_dir + "source-1/data_categories.csv", index=False)

## Source 2

In [38]:
S2_DATA_DIR = "./dataset/APItoStaging"

In [39]:
## Read Labtest
labtest_df = pd.read_csv(S2_DATA_DIR + "/labtest.csv")
attr_df = pd.read_csv(S2_DATA_DIR + "/attribute.csv")

In [40]:
attr_df.columns

Index(['attr_id', 'attr_name', 'default_value', 'healthcare_id',
       'test_group_id', 'test_id', 'unit'],
      dtype='object')

In [41]:
selected_attr.dtypes

lab_name          object
test_key           int64
test_name         object
attribute_key      int64
attr_name         object
snomad_name      float64
snomed_ct_id     float64
code              object
loinc_name        object
component         object
short_name        object
class_name        object
unit(UCUM)        object
dtype: object

In [42]:
test_attr_df = attr_df.merge(labtest_df, how='inner', on='test_id')

In [43]:
test_attr_df.dtypes

attr_id              int64
attr_name           object
default_value       object
healthcare_id_x      int64
test_group_id      float64
test_id              int64
unit                object
healthcare_id_y      int64
lab_id               int64
sales_price          int64
sample_id          float64
test_name           object
test_short_name     object
test_type            int64
dtype: object

In [44]:
test_attr_df['test_name'] = test_attr_df['test_name'].apply(lambda x: x.strip())
test_attr_df['attr_name'] = test_attr_df['attr_name'].apply(lambda x: str(x).strip())
selected_attr['test_name'] = selected_attr['test_name'].apply(lambda x: x.strip())
selected_attr['attr_name'] = selected_attr['attr_name'].apply(lambda x: x.strip())

In [45]:
test_attr_df = test_attr_df[['test_id', 'test_name', 'attr_id', 'attr_name', 'unit']]

In [46]:
test_attr_df

,test_id,test_name,attr_id,attr_name,unit
0,100575,Immunohistochemistry trephine biopsy,100671,RENAL BIOPSY,NaN
1,100490,BAL for C/S,100190,Imipenem,NaN
2,100490,BAL for C/S,100191,Levofloxacin,NaN
3,100490,BAL for C/S,100192,Linezolid,NaN
4,100490,BAL for C/S,100193,Mecillinam,NaN
...,...,...,...,...,...
6405,5040197,CCP (400ml),3003018,2. Anti HCV,NaN
6406,5040197,CCP (400ml),3003019,3. HIV I & II,NaN
6407,5040197,CCP (400ml),3003020,4. Syphilis (VDRL),NaN
6408,5040197,CCP (400ml),3003021,5. Malarial Parasite (ICT),NaN
6409,6169744,Real Time PCR for COVID-19,1004585,Real Time PCR for COVID-19,NaN

In [47]:
selected_attr.columns

Index(['lab_name', 'test_key', 'test_name', 'attribute_key', 'attr_name',
       'snomad_name', 'snomed_ct_id', 'code', 'loinc_name', 'component',
       'short_name', 'class_name', 'unit(UCUM)'],
      dtype='object')

In [48]:
new_df = pd.merge(selected_attr, test_attr_df,  how='inner', on=['test_name','attr_name'])

In [49]:
new_df.to_csv(data_dir + '/source-2/selectedAttr.csv', index=False)

### Retrieve manual validated data

In [54]:
source2_attr = pd.read_csv(data_dir + '/source-2/selectedAttr-ALL.csv')

In [55]:
source2_attr

,lab_name,test_key,test_name,attribute_key,attr_name,snomad_name,snomed_ct_id,code,loinc_name,component,short_name,class_name,unit(UCUM),test_id,attr_id,unit
0,Haematology,10655,CBC,13387,ESR,NaN,NaN,788-0,Erythrocyte distribution width [Ratio] by Auto...,Erythrocyte distribution width,RDW RBC Auto-Rto,HEM/BC,%,101497,104291,mm in 1st hour
1,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14491,Protein,NaN,NaN,5804-0,Protein [Mass/volume] in Urine by Test strip,Protein,Prot Ur Strip-mCnc,UA,mg/dL,5003345,3000003,NaN
2,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14498,Blood,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5003345,3000016,NaN
3,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14499,Appearance,NaN,NaN,5767-9,Appearance of Urine,Appearance,Appearance Ur,SPEC,NaN,5003345,3000017,NaN
4,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14501,Colour,NaN,NaN,5778-6,Color of Urine,Color,Color Ur,SPEC,NaN,5003345,3000020,NaN
5,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14512,Uric Acid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5003345,3000031,NaN
6,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14517,Sugar,NaN,NaN,25428-4,Glucose [Presence] in Urine by Test strip,Glucose,Glucose Ur Ql Strip,UA,NaN,5003345,3000037,NaN
7,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14521,R B C,NaN,NaN,33051-4,Erythrocytes [Presence] in Urine,Erythrocytes,RBC Ur Ql,UA,NaN,5003345,3000042,/LPF
8,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14522,W B C,NaN,NaN,33052-2,Leukocytes [Presence] in Urine,Leukocytes,WBC Ur Ql,UA,NaN,5003345,3000043,/LPF
9,Clinical Pathology,10994,Complete Urine Analysis (Urine R/E),14526,Bilirubin,NaN,NaN,5770-3,Bilirubin.total [Presence] in Urine by Test strip,Bilirubin,Bilirub Ur Ql Strip,UA,NaN,5003345,3000067,NaN
10,Biochemistry,10937,Electrolytes Serum,14366,Sodium,NaN,NaN,2951-2,Sodium [Moles/volume] in Serum or Plasma,Sodium,Sodium SerPl-sCnc,CHEM,mmol/L,101304,101214,mmol/L
11,Biochemistry,10937,Electrolytes Serum,14367,Potassium,NaN,NaN,2823-3,Potassium [Moles/volume] in Serum or Plasma,Potassium,Potassium SerPl-sCnc,CHEM,mmol/L,101304,102050,mmol/L
12,Biochemistry,10816,HbA1c,13952,HbA1c,NaN,NaN,86910-7,Hemoglobin A1c/Hemoglobin.total goal Blood,Hemoglobin A1c/Hemoglobin.total goal,Hgb A1c goal MFr Bld,CLIN,%,101305,102057,%
13,Biochemistry,10626,Lipid Profile Serum (R),13070,LDL Cholesterol,NaN,NaN,57698-3,Lipid panel with direct LDL - Serum or Plasma,Lipid panel with direct LDL,Lipid pnl with direct LDL SerPl,PANEL.CHEM,mg/dL,100921,103730,mg/dL
14,NaN,10626,Lipid Profile Serum (R),13069,HDL Cholesterol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100921,103729,mg/dL
15,NaN,10626,Lipid Profile Serum (R),13071,Triglycerides,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100921,103731,mg/dL
16,NaN,10626,Lipid Profile Serum (R),13068,Total Cholesterol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100921,102084,mg/dL
17,NaN,10057,Grouping + Cross Matching + Screening,10431,Blood Group :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100824,3002195,NaN
18,NaN,10057,Grouping + Cross Matching + Screening,10431,Blood Group :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100824,3002201,NaN
19,NaN,10057,Grouping + Cross Matching + Screening,10432,Rh Type :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100824,3002196,NaN
20,NaN,10057,Grouping + Cross Matching + Screening,10432,Rh Type :,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100824,3002202,NaN
21,Biochemistry,10693,FBG - Fasting blood glucose,13498,Blood glucose level,NaN,NaN,76629-5,Fasting glucose [Moles/volume] in Blood,Glucose^post CFst,Glucose p fast Bld-sCnc,CHEM,mmol/L,103729,101211,mmol/L
22,NaN,10057,Grouping + Cross Matching + Screening,10440,1. HBsAg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100824,3002206,NaN

In [56]:
s2attr_l = source2_attr["attr_id"].to_list()
# s2attr_l

#### Read Test Results from Source-2 datasets

In [57]:
testres_df = pd.DataFrame()
for i in range(1,7):
    filename = '/testresult-'+str(i)+'.csv'
    temp = pd.read_csv(S2_DATA_DIR + filename)
    selected = temp[temp['attr_id'].isin(s2attr_l)]
    testres_df = pd.concat([testres_df, selected])
    del temp, selected

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\5942919.py:4: DtypeWarning: Columns (8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  temp = pd.read_csv(S2_DATA_DIR + filename)

In [58]:
testres_df.to_csv(data_dir + "/source-2/testresults.csv", index=False)

In [59]:
testres_df.columns

Index(['PIK', 'address', 'age', 'age_yy', 'analyzer', 'attr_id', 'attr_name',
       'blood_group', 'comments', 'district', 'division', 'gender', 'geocode',
       'healthcare_id', 'interpretation', 'lab_id', 'm_status', 'machine_attr',
       'noraml_range', 'note', 'plain_text', 'refrage_id', 'reg_date',
       'report_date', 'result', 'result_type', 'test_group_id',
       'test_group_name', 'test_id', 'unit', 'upazila', 'Unnamed: 31'],
      dtype='object')

In [60]:
source2 = testres_df[['lab_id', 'test_id', 'attr_id', 'attr_name', 'result', 'unit']]

In [61]:
source2['result'] = source2['result'].astype(str)
source2['result'] = source2['result'].apply(lambda x: x.strip())
source2['result'] = source2['result'].apply(lambda x: np.nan if x == 'Null' else x)
# source1['result'] = source1['result'].replace('Null', np.nan)
# source1 = source1.replace('Null', np.nan)
print(source2.shape)
source2 = source2[source2['result'].notnull()]
source2 = source2.dropna(axis=0, subset=('result'))
print(source2.shape)
# source2_df.index = np.arange(0, len(source2_df))
source2

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\1323904666.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source2['result'] = source2['result'].astype(str)
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\1323904666.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source2['result'] = source2['result'].apply(lambda x: x.strip())
C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\1323904666.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source2['result'] = source2['result'].apply(lambda x: np.nan if x == 'Null' else x)

(242450, 6)
(242450, 6)

,lab_id,test_id,attr_id,attr_name,result,unit
15,1180000000009,101305,102057.0,HbA1c,10.3,%
38,1180000000008,101497,104291.0,ESR,76,mm in 1st hour
42,1180000000010,101304,101214.0,Sodium,143,mmol/L
43,1180000000010,101304,102050.0,Potassium,3.0,mmol/L
62,1180000000123,101497,104291.0,ESR,25,mm in 1st hour
...,...,...,...,...,...,...
533938,1200000288212,100824,3002202.0,Rh Type :,Positive,NaN
533942,1200000288212,100824,3002206.0,1. HBsAg,Negative,NaN
533952,1200000288307,101304,101214.0,Sodium,130,mmol/L
533953,1200000288307,101304,102050.0,Potassium,6.8,mmol/L
534022,1200000276289,101497,104291.0,ESR,nan,mm in 1st hour

In [62]:
source2

,lab_id,test_id,attr_id,attr_name,result,unit
15,1180000000009,101305,102057.0,HbA1c,10.3,%
38,1180000000008,101497,104291.0,ESR,76,mm in 1st hour
42,1180000000010,101304,101214.0,Sodium,143,mmol/L
43,1180000000010,101304,102050.0,Potassium,3.0,mmol/L
62,1180000000123,101497,104291.0,ESR,25,mm in 1st hour
...,...,...,...,...,...,...
533938,1200000288212,100824,3002202.0,Rh Type :,Positive,NaN
533942,1200000288212,100824,3002206.0,1. HBsAg,Negative,NaN
533952,1200000288307,101304,101214.0,Sodium,130,mmol/L
533953,1200000288307,101304,102050.0,Potassium,6.8,mmol/L
534022,1200000276289,101497,104291.0,ESR,nan,mm in 1st hour

In [63]:
types = []
for index, row in source2.iterrows():
#     print(row['test_name'], row['attribute'], row['result'], type(row['result']))
    try:
        val = float(row['result'])
        types.append('Neumerical')
    except:
        types.append('Categorical')
#         print("That's not an int!")
print(len(types), source2.shape)
# print(types)
source2['data_type'] = pd.DataFrame(types)
print(source2)

242450 (242450, 6)
               lab_id test_id    attr_id      attr_name    result  \
15      1180000000009  101305   102057.0          HbA1c      10.3
38      1180000000008  101497   104291.0            ESR        76
42      1180000000010  101304   101214.0         Sodium       143
43      1180000000010  101304   102050.0      Potassium       3.0
62      1180000000123  101497   104291.0            ESR        25
...               ...     ...        ...            ...       ...
533938  1200000288212  100824  3002202.0      Rh Type :  Positive
533942  1200000288212  100824  3002206.0      1.  HBsAg  Negative
533952  1200000288307  101304   101214.0         Sodium       130
533953  1200000288307  101304   102050.0      Potassium       6.8
534022  1200000276289  101497   104291.0            ESR       nan

                  unit   data_type
15                   %  Neumerical
38      mm in 1st hour  Neumerical
42              mmol/L  Neumerical
43              mmol/L  Neumerical
62      mm in 1st hour  Neumerical
...                ...         ...
533938             NaN         NaN
533942             NaN         NaN
533952          mmol/L         NaN
533953          mmol/L         NaN
534022  mm in 1st hour         NaN

[242450 rows x 7 columns]

In [64]:
g = source2.groupby('attr_id', as_index = False)['result'].agg(['unique'])
g = g.reset_index(level=0)
g

      attr_id                                             unique
0    101211.0  [5.3, 6.1, 13.1, 5.8, 4.7, 6.3, 6.7, 5.5, 5.9,...
1    101214.0  [143, 146, 155, 140, 138, 177, 130, 147, 144, ...
2    102050.0  [3.0, 3.3, 2.9, 4.1, 5.1, 2.8, 4.3, 4.4, 4.9, ...
3    102057.0  [10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,...
4    102084.0  [238, 224, 152, 181, 173, 159, 677, 230, 113, ...
5    103729.0  [36, 50.3, 38.2, 30.1, 51, 32.7, 20, 52.2, 41....
6    103730.0  [158, 138, 76, 103, 99, 91, **, 134, 55, 68, n...
7    103731.0  [218, 177, 186, 237, 131, 178, 5747, 79, 169, ...
8    104291.0  [76, 25, 52, 32, 67, 03, 09, 64, 30, 04, 39, 2...
9   3000003.0  [Trace, Nil, ++, +, nan, 0, Not Done, (+), (++...
10  3000016.0  [nan, Nil, Not done, Trace, 3+, +++, (++), (++...
11  3000017.0                         [nan, Clear, Hazy, Turbid]
12  3000020.0  [L YELLOW, Straw, STRAW, Yellow, nan, AMBER, R...
13  3000031.0        [nan, Nil, 0, (+), (++), Few, (+++), A few]
14  3000037.0  [Nil, +++, nan, ++++, 0, Trace, Not Done, ++, ...
15  3000042.0                                      [nan, Nil, 0]
16  3000043.0                                      [nan, Nil, 0]
17  3000067.0  [Nil, Not done, Not Done, nan, 0, +, Normal, (...
18  3002195.0  ["A", nan, "AB", "B", "O", "A', "O ", ''B'', '...
19  3002196.0                          [Negative, nan, Positive]
20  3002201.0  ["A", nan, "AB", "B", "O", "A', ''B'', ''O'', ...
21  3002202.0    [Negative, nan, Positive, Positve, positive, p]
22  3002206.0      [Negative, nan, Positive, Not done, Not Done]

In [65]:
source2 = source2.merge(g, how='outer', on='attr_id')

In [66]:
source2

,lab_id,test_id,attr_id,attr_name,result,unit,data_type,unique
0,1180000000009,101305,102057.0,HbA1c,10.3,%,Neumerical,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
1,1180000000181,101305,102057.0,HbA1c,7.1,%,Neumerical,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
2,1180000000184,101305,102057.0,HbA1c,6.7,%,Neumerical,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
3,1180000000242,101305,102057.0,HbA1c,7.6,%,Neumerical,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
4,1180000000300,101305,102057.0,HbA1c,6.1,%,Neumerical,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
...,...,...,...,...,...,...,...,...
242445,1200000286048,5003345,3000067.0,Bilirubin,Nil,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
242446,1200000290822,5003345,3000067.0,Bilirubin,Nil,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
242447,1200000288709,5003345,3000067.0,Bilirubin,Nil,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
242448,1200000290364,5003345,3000067.0,Bilirubin,Nil,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
242449,1200000276801,5003345,3000067.0,Bilirubin,Nil,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."

In [67]:
source2_df=source2.drop_duplicates(['test_id','attr_id', 'data_type'])[['lab_id',
 'test_id',
 'attr_id',
 'attr_name',
 'data_type', 'unit',
 'unique']]

In [68]:
source2_df

,lab_id,test_id,attr_id,attr_name,data_type,unit,unique
0,1180000000009,101305,102057.0,HbA1c,Neumerical,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
8,1180000000336,101305,102057.0,HbA1c,Categorical,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
322,1190000012439,101305,102057.0,HbA1c,Neumerical,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
328,1190000012735,101305,102057.0,HbA1c,Categorical,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
782,1190000030098,101305,102057.0,HbA1c,NaN,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
...,...,...,...,...,...,...,...
217984,1190000075632,5003345,3000016.0,Blood,NaN,NaN,"[nan, Nil, Not done, Trace, 3+, +++, (++), (++..."
229132,1190000025616,5003345,3000067.0,Bilirubin,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
230338,1190000060189,5003345,3000067.0,Bilirubin,Neumerical,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
230339,1190000060565,5003345,3000067.0,Bilirubin,Categorical,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."
231298,1190000075632,5003345,3000067.0,Bilirubin,NaN,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."

In [69]:
cat_df = test_attr_df.merge(g, how='inner', on='attr_id')

In [70]:
cat_df

,test_id,test_name,attr_id,attr_name,unit,unique
0,101305,HbA1c,102057,HbA1c,%,"[10.3, 7.1, 6.7, 7.6, 6.1, 8.2, 5.9, 6.9, 6.5,..."
1,101602,Fasting Blood Sugar (FBS),101211,Fasting Blood Sugar,mmol/L,"[5.3, 6.1, 13.1, 5.8, 4.7, 6.3, 6.7, 5.5, 5.9,..."
2,101304,Electrolytes Serum,101214,Sodium,mmol/L,"[143, 146, 155, 140, 138, 177, 130, 147, 144, ..."
3,101304,Electrolytes Serum,102050,Potassium,mmol/L,"[3.0, 3.3, 2.9, 4.1, 5.1, 2.8, 4.3, 4.4, 4.9, ..."
4,100824,Grouping + Cross Matching + Screening,3002195,Blood Group :,NaN,"[""A"", nan, ""AB"", ""B"", ""O"", ""A', ""O "", ''B'', '..."
5,100824,Grouping + Cross Matching + Screening,3002196,Rh Type :,NaN,"[Negative, nan, Positive]"
6,100824,Grouping + Cross Matching + Screening,3002201,Blood Group :,NaN,"[""A"", nan, ""AB"", ""B"", ""O"", ""A', ''B'', ''O'', ..."
7,100824,Grouping + Cross Matching + Screening,3002202,Rh Type :,NaN,"[Negative, nan, Positive, Positve, positive, p]"
8,100824,Grouping + Cross Matching + Screening,3002206,1. HBsAg,NaN,"[Negative, nan, Positive, Not done, Not Done]"
9,101497,CBC,104291,ESR,mm in 1st hour,"[76, 25, 52, 32, 67, 03, 09, 64, 30, 04, 39, 2..."
10,100921,Lipid Profile Serum (R),102084,Total Cholesterol,mg/dL,"[238, 224, 152, 181, 173, 159, 677, 230, 113, ..."
11,100921,Lipid Profile Serum (R),103729,HDL Cholesterol,mg/dL,"[36, 50.3, 38.2, 30.1, 51, 32.7, 20, 52.2, 41...."
12,100921,Lipid Profile Serum (R),103730,LDL Cholesterol,mg/dL,"[158, 138, 76, 103, 99, 91, **, 134, 55, 68, n..."
13,100921,Lipid Profile Serum (R),103731,Triglycerides,mg/dL,"[218, 177, 186, 237, 131, 178, 5747, 79, 169, ..."
14,5003345,Complete Urine Analysis (Urine R/E),3000003,Protein,NaN,"[Trace, Nil, ++, +, nan, 0, Not Done, (+), (++..."
15,5003345,Complete Urine Analysis (Urine R/E),3000016,Blood,NaN,"[nan, Nil, Not done, Trace, 3+, +++, (++), (++..."
16,5003345,Complete Urine Analysis (Urine R/E),3000017,Appearance,NaN,"[nan, Clear, Hazy, Turbid]"
17,5003345,Complete Urine Analysis (Urine R/E),3000020,Colour,NaN,"[L YELLOW, Straw, STRAW, Yellow, nan, AMBER, R..."
18,5003345,Complete Urine Analysis (Urine R/E),3000031,Uric Acid,NaN,"[nan, Nil, 0, (+), (++), Few, (+++), A few]"
19,5003345,Complete Urine Analysis (Urine R/E),3000037,Sugar,NaN,"[Nil, +++, nan, ++++, 0, Trace, Not Done, ++, ..."
20,5003345,Complete Urine Analysis (Urine R/E),3000042,R B C,/LPF,"[nan, Nil, 0]"
21,5003345,Complete Urine Analysis (Urine R/E),3000043,W B C,/LPF,"[nan, Nil, 0]"
22,5003345,Complete Urine Analysis (Urine R/E),3000067,Bilirubin,NaN,"[Nil, Not done, Not Done, nan, 0, +, Normal, (..."

In [71]:
cat_df.to_csv(data_dir + "/source-2/data_categories.csv", index=False)

#### Count result (group by)

In [72]:
source3_test_df =pd.read_csv(data_dir+ "/source-2/testresults.csv")

In [73]:
source3_test_df

,PIK,address,age,age_yy,analyzer,attr_id,attr_name,blood_group,comments,district,...,reg_date,report_date,result,result_type,test_group_id,test_group_name,test_id,unit,upazila,Unnamed: 31
0,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102057.0,HbA1c,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",10.3,I,NaN,NaN,101305,%,TATIBAZAR,NaN
1,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,104291.0,ESR,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",76,G,NaN,NaN,101497,mm in 1st hour,TATIBAZAR,NaN
2,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,101214.0,Sodium,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",143,G,1074.0,S. Electrolytes,101304,mmol/L,TATIBAZAR,NaN
3,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102050.0,Potassium,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",3.0,G,1074.0,S. Electrolytes,101304,mmol/L,TATIBAZAR,NaN
4,0da2235b7e11c1b35c974a76cdb15b09f7547cf48205ff...,,6Y 5M 27D,6.0,NaN,104291.0,ESR,,NaN,NaN,...,12/1/2018,"Sat, 01 Dec 2018 00:00:00 GMT",25,G,NaN,NaN,101497,mm in 1st hour,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242445,f16c8675578b968b62d31f7ec2c1e66c5a26887b431fe7...,"113/1/A,Shah Alibagh,Mirpur,Dhaka.",58Y 4M 18D,58.0,NaN,3002202.0,Rh Type :,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 29 Feb 2020 00:00:00 GMT",Positive,NaN,NaN,NaN,100824,NaN,MIRPUR,NaN
242446,f16c8675578b968b62d31f7ec2c1e66c5a26887b431fe7...,"113/1/A,Shah Alibagh,Mirpur,Dhaka.",58Y 4M 18D,58.0,NaN,3002206.0,1. HBsAg,NaN,NaN,DHAKA,...,11/18/2018 12:29 PM,"Sat, 29 Feb 2020 00:00:00 GMT",Negative,NaN,NaN,NaN,100824,NaN,MIRPUR,NaN
242447,0ed508309f6c9c796ead063e77a2683efabbe590062a96...,"17/7, SHYAMOLI, DHAKA",56Y 2M 3D,56.0,Vitros 5600,101214.0,Sodium,NaN,NaN,DHAKA,...,3/7/2019 4:38 PM,"Sat, 29 Feb 2020 00:00:00 GMT",130,G,1074.0,S. Electrolytes,101304,mmol/L,SHYAMOLI,NaN
242448,0ed508309f6c9c796ead063e77a2683efabbe590062a96...,"17/7, SHYAMOLI, DHAKA",56Y 2M 3D,56.0,Vitros 5600,102050.0,Potassium,NaN,NaN,DHAKA,...,3/7/2019 4:38 PM,"Sat, 29 Feb 2020 00:00:00 GMT",6.8,G,1074.0,S. Electrolytes,101304,mmol/L,SHYAMOLI,NaN
242449,0a669fdec42aa71f8de364ae52e18b9baeca67e816cf6e...,"BOALMARI, FARIDPUR",65Y 1D,65.0,NaN,104291.0,ESR,NaN,NaN,FARIDPUR,...,2/12/2020 6:24 PM,"Thu, 13 Feb 2020 00:00:00 GMT",NaN,G,NaN,NaN,101497,mm in 1st hour,BOALMARI,NaN

In [79]:
source3_test_df.columns

Index(['PIK', 'address', 'age', 'age_yy', 'analyzer', 'attr_id', 'attr_name',
       'blood_group', 'comments', 'district', 'division', 'gender', 'geocode',
       'healthcare_id', 'interpretation', 'lab_id', 'm_status', 'machine_attr',
       'noraml_range', 'note', 'plain_text', 'refrage_id', 'reg_date',
       'report_date', 'result', 'result_type', 'test_group_id',
       'test_group_name', 'test_id', 'unit', 'upazila', 'Unnamed: 31'],
      dtype='object')

In [80]:
source3 = source3_test_df[['attr_id','attr_name', 'result', 'result_type']]

In [82]:
source3

          attr_id      attr_name    result result_type
0        102057.0          HbA1c      10.3           I
1        104291.0            ESR        76           G
2        101214.0         Sodium       143           G
3        102050.0      Potassium       3.0           G
4        104291.0            ESR        25           G
...           ...            ...       ...         ...
242445  3002202.0      Rh Type :  Positive         NaN
242446  3002206.0      1.  HBsAg  Negative         NaN
242447   101214.0         Sodium       130           G
242448   102050.0      Potassium       6.8           G
242449   104291.0            ESR       NaN           G

[242450 rows x 4 columns]

In [83]:
types = []
for index, row in source3.iterrows():
    try:
        val = float(row['result'])
        types.append('Neumerical')
    except:
        types.append('Categorical')
#         print("That's not an int!")
print(len(types), source3.shape)
# print(types)
source3['data_type'] = pd.DataFrame(types)
source3

242450 (242450, 4)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\4074503978.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source3['data_type'] = pd.DataFrame(types)

          attr_id      attr_name    result result_type    data_type
0        102057.0          HbA1c      10.3           I   Neumerical
1        104291.0            ESR        76           G   Neumerical
2        101214.0         Sodium       143           G   Neumerical
3        102050.0      Potassium       3.0           G   Neumerical
4        104291.0            ESR        25           G   Neumerical
...           ...            ...       ...         ...          ...
242445  3002202.0      Rh Type :  Positive         NaN  Categorical
242446  3002206.0      1.  HBsAg  Negative         NaN  Categorical
242447   101214.0         Sodium       130           G   Neumerical
242448   102050.0      Potassium       6.8           G   Neumerical
242449   104291.0            ESR       NaN           G   Neumerical

[242450 rows x 5 columns]

In [93]:
index_name = source3[source3['data_type'] == 'Neumerical'].index

In [94]:
index_name

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            242435, 242436, 242437, 242438, 242439, 242440, 242441, 242447,
            242448, 242449],
           dtype='int64', length=138126)

In [95]:
source3.drop(index_name , inplace = True)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_17808\278777585.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source3.drop(index_name , inplace = True)

In [96]:
source3

          attr_id        attr_name    result result_type    data_type
106      104291.0              ESR       QNS           G  Categorical
235      103730.0  LDL Cholesterol        **           G  Categorical
423      104291.0              ESR       QNS           G  Categorical
1320    3002195.0    Blood Group :       "A"         NaN  Categorical
1321    3002196.0        Rh Type :  Negative         NaN  Categorical
...           ...              ...       ...         ...          ...
242442  3002195.0    Blood Group :       "O"         NaN  Categorical
242443  3002196.0        Rh Type :  Positive         NaN  Categorical
242444  3002201.0    Blood Group :       "O"         NaN  Categorical
242445  3002202.0        Rh Type :  Positive         NaN  Categorical
242446  3002206.0        1.  HBsAg  Negative         NaN  Categorical

[104324 rows x 5 columns]

In [102]:
df_catagorical = source3[source3['data_type'] == 'Categorical']

In [103]:
df_catagorical.loc[df_catagorical['attr_name'].isin(['Anti-HAV IgM','Anti-HBe' ,'Blood Group :','Blood Group','Blood Group: ABO','Anti-HCV','HBs Ag','1.  HBsAg',   'Fat Globules','Toxoplasma IgM','M.P.V','Mucus','Albumin','Appearance','Anti-HCV','Anti-HBc Total','Dengue Ag NS1 (ICT)'])]

          attr_id      attr_name result result_type    data_type
1320    3002195.0  Blood Group :    "A"         NaN  Categorical
1322    3002201.0  Blood Group :    "A"         NaN  Categorical
1342    3002195.0  Blood Group :    "A"         NaN  Categorical
1344    3002201.0  Blood Group :    "A"         NaN  Categorical
1467    3002201.0  Blood Group :   "AB"         NaN  Categorical
...           ...            ...    ...         ...          ...
242420  3000017.0     Appearance  Clear           G  Categorical
242430  3002195.0  Blood Group :   "AB"         NaN  Categorical
242432  3002201.0  Blood Group :   "AB"         NaN  Categorical
242442  3002195.0  Blood Group :    "O"         NaN  Categorical
242444  3002201.0  Blood Group :    "O"         NaN  Categorical

[22818 rows x 5 columns]

In [97]:
g = source3.groupby('attr_name', as_index = False)['result'].agg(['unique'])
g

                                                                      unique
attr_name
    1.  HBsAg                       [Negative, Positive, Not done, Not Done]
Albumin                                  [+, Trace, Nil, (+++), (++++), (+)]
Appearance                                             [Clear, Hazy, Turbid]
B.J. Protein                                                 [Nil, Not done]
Bilirubin                  [Nil, Not done, Not Done, +, Normal, (+), (+++...
Blood                      [Nil, Trace, 3+, +++, (++), (+++), ++, +, (+),...
Blood Group :              ["A", "AB", "B", "O", "A', "O ", ''B'', ''O'',...
Candida                                                                [Few]
Colour                     [L YELLOW, Straw, STRAW, Yellow, AMBER, Reddis...
Corresponding urine sugar                                              [N/S]
ESR                                                          [QNS, Q.N.S, .]
HbA1c                                                                 [7..3]
LDL Cholesterol                                     [**, --, ---, -, *, ***]
Potassium                                                             [3..5]
Protein                    [Trace, Nil, ++, Not Done, (+), (+++), +++, +,...
R B C                                                                  [Nil]
Rh Type :                         [Negative, Positive, Positve, positive, p]
Sugar                      [Nil, +++, ++++, Trace, Not Done, ++, (++), (+...
Uric Acid                               [Nil, (+), (++), Few,  A few, A few]
Uric Acid Crystal                                    [(+), (++), (+++), Few]
Uric Acid crystal                                                     [(++)]
Uric acid crystal                                                [(++), Few]
W B C                                                                  [Nil]

                                                          unique
attr_name
    1.  HBsAg           [Negative, Positive, Not done, Not Done]
Albumin                      [+, Trace, Nil, (+++), (++++), (+)]
Appearance                                 [Clear, Hazy, Turbid]
B.J. Protein                                     [Nil, Not done]
Bilirubin      [Nil, Not done, Not Done, +, Normal, (+), (+++...

attr_name
    1.  HBsAg                         [Negative, Positive, Not done, Not Done]
Albumin                                    [+, Trace, Nil, (+++), (++++), (+)]
Appearance                                               [Clear, Hazy, Turbid]
B.J. Protein                                                   [Nil, Not done]
Bilirubin                    [Nil, Not done, Not Done, +, Normal, (+), (+++...
Blood                        [Nil, Trace, 3+, +++, (++), (+++), ++, +, (+),...
Blood Group :                ["A", "AB", "B", "O", "A', "O ", ''B'', ''O'',...
Candida                                                                  [Few]
Colour                       [L YELLOW, Straw, STRAW, Yellow, AMBER, Reddis...
Corresponding urine sugar                                                [N/S]
ESR                                                            [QNS, Q.N.S, .]
HbA1c                                                                   [7..3]
LDL Cholesterol                                       [**, --, ---, -, *, ***]
Potassium                                                               [3..5]
Protein                      [Trace, Nil, ++, Not Done, (+), (+++), +++, +,...
R B C                                                                    [Nil]
Rh Type :                           [Negative, Positive, Positve, positive, p]
Sugar                        [Nil, +++, ++++, Trace, Not Done, ++, (++), (+...
Uric Acid                                 [Nil, (+), (++), Few,  A few, A few]
Uric Acid Crystal                                      [(+), (++), (+++), Few]
Uric Acid crystal                                                       [(++)]
Uric acid crystal                                                  [(++), Few]
W B C                                                                    [Nil]
Name: unique, dtype: object

In [81]:
source3_test_df['test_group_name'].to_list()

[nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Blood Sugar',
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 nan,
 'Blood Sugar',
 'Blood Sugar',
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 nan,
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 'Blood Sugar',
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'Blood Sugar',
 nan,
 nan,
 nan,
 'Blood Sugar',
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'Blood Sugar',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'Lipid Profile Serum',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'Blood Sugar',
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 nan,
 'S. Electrolytes',
 'S. Electrolytes',
 ...]

Unique Value Check

In [75]:
attr_exp = g.explode("unique")

In [76]:
attr_exp

      attr_id    unique
0    101211.0       5.3
0    101211.0       6.1
0    101211.0      13.1
0    101211.0       5.8
0    101211.0       4.7
..        ...       ...
22  3002206.0  Negative
22  3002206.0       nan
22  3002206.0  Positive
22  3002206.0  Not done
22  3002206.0  Not Done

[2374 rows x 2 columns]

In [34]:
attr_exp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16032 entries, 0 to 285
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   attr_key  16032 non-null  int64
 1   unique    16032 non-null  object
dtypes: int64(1), object(1)
memory usage: 375.8+ KB

In [35]:
attr_exp.describe()

           attr_key
count  16032.000000
mean   12864.349800
std     1272.843296
min    10428.000000
25%    12447.000000
50%    13361.000000
75%    13381.000000
max    15130.000000

In [37]:
print(attr_exp['unique'].dtypes)

object

In [40]:
attr_exp_coversion = attr_exp['unique'].astype(str)

In [49]:
attr_exp_coversion.dtypes

dtype('O')

In [45]:
attr_exp_coversion.count

<bound method Series.count of 0       00
0       02
0       03
0       10
0      101
      ...
285     36
285     37
285     38
285     39
285     40
Name: unique, Length: 16032, dtype: object>

In [50]:
attr_exp.unique.value_counts()

Nil      65
R        49
(+)      44
(++)     30
S        30
         ..
497       1
493       1
488       1
476       1
99.73     1
Name: unique, Length: 6735, dtype: int64

In [54]:
attr_exp.to_csv('D:\My New Project Workplace\VIS-eSRD-LAB\SALT_C\data\my_data\attr_explode.csv');

OSError: [Errno 22] Invalid argument: 'D:\\My New Project Workplace\\VIS-eSRD-LAB\\SALT_C\\data\\my_data\x07ttr_explode.csv'

Source1

In [59]:
source1

,test_key,test_name,attr_key,attribute,result,unit,record_count,data_type,unique
0,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10,U/L,14,Neumerical,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
1,10921,ALT(SGPT) Serum,14344,ALT (SGPT),100,U/L,6,Neumerical,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
2,10921,ALT(SGPT) Serum,14344,ALT (SGPT),10.0,U/L,1,Neumerical,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
3,10921,ALT(SGPT) Serum,14344,ALT (SGPT),1000,U/L,2,Neumerical,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
4,10921,ALT(SGPT) Serum,14344,ALT (SGPT),101,U/L,3,Neumerical,"[10, 100, 10.0, 1000, 101, 102, 103, 104, 105,..."
...,...,...,...,...,...,...,...,...,...
16027,10616,Urine R/M/E,13028,Yeast,Trace,Null,3,Categorical,"[(+), (++), Nil, Trace]"
16028,10616,Urine R/M/E,13029,Spermatozoa,(+),Null,7,Categorical,"[(+), (++), Few, Nil]"
16029,10616,Urine R/M/E,13029,Spermatozoa,(++),Null,3,Categorical,"[(+), (++), Few, Nil]"
16030,10616,Urine R/M/E,13029,Spermatozoa,Few,Null,1,Categorical,"[(+), (++), Few, Nil]"
16031,10616,Urine R/M/E,13029,Spermatozoa,Nil,Null,420,Categorical,"[(+), (++), Few, Nil]"

In [62]:
source1_mod_atr = source1[['attr_key', 'attribute', 'result']]

In [63]:
source1_mod_atr

       attr_key    attribute result
0         14344   ALT (SGPT)     10
1         14344   ALT (SGPT)    100
2         14344   ALT (SGPT)   10.0
3         14344   ALT (SGPT)   1000
4         14344   ALT (SGPT)    101
...         ...          ...    ...
16027     13028        Yeast  Trace
16028     13029  Spermatozoa    (+)
16029     13029  Spermatozoa   (++)
16030     13029  Spermatozoa    Few
16031     13029  Spermatozoa    Nil

[16032 rows x 3 columns]

In [64]:
source1_mod_atr.to_csv("D:\My New Project Workplace\VIS-eSRD-LAB\SALT_C\data\my_data\source1_attr.csv")