In [2]:
import pandas as pd

data_dir = "./dataset/APItoStaging/testresult-1.csv"

In [3]:
## Read test

df = pd.read_csv("./dataset/APItoStaging/testresult-1.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15488\253280230.py:3: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/APItoStaging/testresult-1.csv")

In [4]:
df

,PIK,address,age,age_yy,analyzer,attr_id,attr_name,blood_group,comments,district,...,refrage_id,reg_date,report_date,result,result_type,test_group_id,test_group_name,test_id,unit,upazila
0,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,101518.0,Urea,NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",73.2,G,NaN,NaN,101301,mg/dl,TATIBAZAR
1,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102046.0,Creatinine,NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",2.4,G,NaN,NaN,101302,mg/dl,TATIBAZAR
2,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102182.0,Triglycerides,NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",280,G,1114.0,Lipid Profile Serum,100441,mg/dL,TATIBAZAR
3,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102181.0,LDL Cholesterol,NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",264,G,1114.0,Lipid Profile Serum,100441,mg/dL,TATIBAZAR
4,0694a9758a8733b8cd51e4259d3235d30ad56b1bed19c1...,"KARANIGONJ, ATIBAZAR, DHAKA",76Y 7M 1D,76.0,NaN,102180.0,HDL Cholesterol,NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Sat, 01 Dec 2018 00:00:00 GMT",47,G,1114.0,Lipid Profile Serum,100441,mg/dL,TATIBAZAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178546,a3841d9ebaa3c7e54b91ea3a5f349c9105d01ea196e107...,"ABDULLAHPUR, KERANIGONJ.",49Y 10M 29D,49.0,NaN,100081.0,Blast,,NaN,DHAKA,...,NaN,12/1/2018,"Mon, 31 Dec 2018 00:00:00 GMT",NaN,G,1090.0,Differential Count,101497,%,KERANIGANJ
178547,a3841d9ebaa3c7e54b91ea3a5f349c9105d01ea196e107...,"ABDULLAHPUR, KERANIGONJ.",49Y 10M 29D,49.0,NaN,100082.0,Atypical and hairy looking cells,,NaN,DHAKA,...,NaN,12/1/2018,"Mon, 31 Dec 2018 00:00:00 GMT",NaN,G,1090.0,Differential Count,101497,%,KERANIGANJ
178548,a3841d9ebaa3c7e54b91ea3a5f349c9105d01ea196e107...,"ABDULLAHPUR, KERANIGONJ.",49Y 10M 29D,49.0,NaN,100083.0,Others (DC),,NaN,DHAKA,...,NaN,12/1/2018,"Mon, 31 Dec 2018 00:00:00 GMT",NaN,G,1090.0,Differential Count,101497,%,KERANIGANJ
178549,a3841d9ebaa3c7e54b91ea3a5f349c9105d01ea196e107...,"ABDULLAHPUR, KERANIGONJ.",49Y 10M 29D,49.0,NaN,104291.0,ESR,,NaN,DHAKA,...,NaN,12/1/2018,"Mon, 31 Dec 2018 00:00:00 GMT",NaN,G,NaN,NaN,101497,mm in 1st hour,KERANIGANJ
178550,67c6496296e90da51e0481fe8fd22a9f4d86d73bb27e0a...,"178/179, NORTH SOUTH ROAD, DHAKA.",29Y 1M 10D,29.0,NaN,3002238.0,Skin Biopsy (HISTO-PATHOLOGY),NaN,NaN,DHAKA,...,NaN,11/18/2018 12:29 PM,"Mon, 17 Dec 2018 00:00:00 GMT",NaN,NaN,NaN,NaN,101495,NaN,SUTRAPUR

In [5]:
df = df[['attr_id', 'attr_name', 'result', 'test_group_name']]

In [6]:
df.shape

(178551, 4)

In [7]:
df['result'] = df['result'].astype(str);
# df['result'] = df['result'].apply(lambda x : x.strip())
# df['result'] = df['result'].apply(lambda  x : np.nan if x == 'Null' else x)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15488\659366647.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['result'] = df['result'].astype(str);

In [8]:
df.shape

(178551, 4)

In [9]:
df

,attr_id,attr_name,result,test_group_name
0,101518.0,Urea,73.2,NaN
1,102046.0,Creatinine,2.4,NaN
2,102182.0,Triglycerides,280,Lipid Profile Serum
3,102181.0,LDL Cholesterol,264,Lipid Profile Serum
4,102180.0,HDL Cholesterol,47,Lipid Profile Serum
...,...,...,...,...
178546,100081.0,Blast,nan,Differential Count
178547,100082.0,Atypical and hairy looking cells,nan,Differential Count
178548,100083.0,Others (DC),nan,Differential Count
178549,104291.0,ESR,nan,NaN
178550,3002238.0,Skin Biopsy (HISTO-PATHOLOGY),nan,NaN

In [10]:
types = []
for index, row in df.iterrows():

#     print(row['test_name'], row['attribute'], row['result'], type(row['result']))
    try:
        val = float(row['result'])
        types.append('Neumerical')
    except:
        types.append('Categorical')
#         print("That's not an int!")
print(len(types), df.shape)
# print(types)
df['data_type'] = pd.DataFrame(types)
df

178551 (178551, 4)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_15488\907563708.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['data_type'] = pd.DataFrame(types)

,attr_id,attr_name,result,test_group_name,data_type
0,101518.0,Urea,73.2,NaN,Neumerical
1,102046.0,Creatinine,2.4,NaN,Neumerical
2,102182.0,Triglycerides,280,Lipid Profile Serum,Neumerical
3,102181.0,LDL Cholesterol,264,Lipid Profile Serum,Neumerical
4,102180.0,HDL Cholesterol,47,Lipid Profile Serum,Neumerical
...,...,...,...,...,...
178546,100081.0,Blast,nan,Differential Count,Neumerical
178547,100082.0,Atypical and hairy looking cells,nan,Differential Count,Neumerical
178548,100083.0,Others (DC),nan,Differential Count,Neumerical
178549,104291.0,ESR,nan,NaN,Neumerical
178550,3002238.0,Skin Biopsy (HISTO-PATHOLOGY),nan,NaN,Neumerical

In [20]:
df['attr_name'].astype(str)

0                                     Urea
1                               Creatinine
2                            Triglycerides
3                          LDL Cholesterol
4                          HDL Cholesterol
                        ...
178546                               Blast
178547    Atypical and hairy looking cells
178548                         Others (DC)
178549                                 ESR
178550       Skin Biopsy (HISTO-PATHOLOGY)
Name: attr_name, Length: 178551, dtype: object

In [21]:
df_catagorical = df[df['data_type'] == 'Categorical']

In [22]:
df_catagorical

,attr_id,attr_name,result,test_group_name,data_type
94,102115.0,Epithelial Cells,2-4,MICROSCOPIC EXAMINATION,Categorical
95,102114.0,Pus Cells,2-4,MICROSCOPIC EXAMINATION,Categorical
96,102112.0,R B C,Nil,MICROSCOPIC EXAMINATION,Categorical
99,102110.0,Sediment,Nil,PHYSICAL EXAMINATION,Categorical
100,102108.0,Appearance,Clear,PHYSICAL EXAMINATION,Categorical
...,...,...,...,...,...
178481,102115.0,Epithelial Cells,2 - 3,MICROSCOPIC EXAMINATION,Categorical
178482,102116.0,Reaction,Acidic,CHEMICAL EXAMINATION,Categorical
178483,102117.0,Albumin,Nil,CHEMICAL EXAMINATION,Categorical
178484,102118.0,Sugar,Nil,CHEMICAL EXAMINATION,Categorical
178485,102119.0,Ex. Phosphate,Nil,CHEMICAL EXAMINATION,Categorical

In [59]:
df_cat =df_catagorical.loc[df_catagorical['attr_name'].isin(['Anti-HAV IgM','Anti-HBe' ,'Blood Group :','Blood Group','Blood Group: ABO','Chikungunya Antibody IgM','Color','Colour','Anti-HCV','HBs Ag',  'Fat Globules','Toxoplasma IgM','M.P.V','Mucus','Albumin','Appearance','Anti-HCV','Anti-HBc Total','Dengue Ag NS1 (ICT)','Malaria Ag (ICT)','IgG Against Dengue Virus','Rh (D)','Rh Type :','VDRL',])]
df_cat

         attr_id   attr_name    result       test_group_name    data_type
100     102108.0  Appearance     Clear  PHYSICAL EXAMINATION  Categorical
101     102107.0      Colour     Straw  PHYSICAL EXAMINATION  Categorical
108     102117.0     Albumin       Nil  CHEMICAL EXAMINATION  Categorical
156     101239.0      HBs Ag  Negative                   NaN  Categorical
158     100744.0    Anti-HCV  Negative                   NaN  Categorical
...          ...         ...       ...                   ...          ...
178423  102108.0  Appearance     Clear  PHYSICAL EXAMINATION  Categorical
178430  102117.0     Albumin       Nil  CHEMICAL EXAMINATION  Categorical
178475  102107.0      Colour     Straw  PHYSICAL EXAMINATION  Categorical
178476  102108.0  Appearance     Clear  PHYSICAL EXAMINATION  Categorical
178483  102117.0     Albumin       Nil  CHEMICAL EXAMINATION  Categorical

[4281 rows x 5 columns]

In [60]:
df_cat.to_csv("./dataset/Choose_Atribute/attribute_2.csv")

In [14]:
g = df_catagorical.groupby('attr_name', as_index = False)['result'].agg(['unique'])

In [15]:
                                                                                                                                                                                                                                                                                                                                                                                                                    g

                                                                        unique
attr_name
\nCorresponding urine sugar                                       [N/S, Trace]
    1.  HBsAg                                             [Negative, Positive]
    2.  Anti HCV                                          [Negative, Negaitve]
    3.  HIV I & II                                                  [Negative]
    4.  Syphilis (VDRL)      [Negative, Non-Reactive, Non Reactive, Non rea...
...                                                                        ...
White Blood Cells                                                 [7.0., <1.0]
Wound Swab for AFB                                                 [Not found]
Yeast                                                                  [Trace]
Yeasts                                                       [Nil, Trace, (+)]
�hCG                                                           [< 1.20, <1.20]

[232 rows x 1 columns]

In [ ]:
df_catagorical

In [61]:
g['unique_count']  = g['unique']

In [63]:
g

,unique,unique_count
attr_name,,
\nCorresponding urine sugar,"[N/S, Trace, nan]","[N/S, Trace, nan]"
1. HBsAg,"[Negative, nan, Positive]","[Negative, nan, Positive]"
2. Anti HCV,"[nan, Negative, Negaitve]","[nan, Negative, Negaitve]"
3. HIV I & II,"[nan, Negative]","[nan, Negative]"
4. Syphilis (VDRL),"[nan, Negative, Non-Reactive, Non Reactive, No...","[nan, Negative, Non-Reactive, Non Reactive, No..."
...,...,...
mono,[nan],[nan]
pCO2,[nan],[nan]
pH,[nan],[nan]
pO2,[nan],[nan]
�hCG,"[7934.13, < 1.20, <1.20, 295.23, 14859.11, 520...","[7934.13, < 1.20, <1.20, 295.23, 14859.11, 520..."

In [66]:
g['unique_count'].apply( lambda  x : x.size)

attr_name
\nCorresponding urine sugar     3
    1.  HBsAg                   3
    2.  Anti HCV                3
    3.  HIV I & II              2
    4.  Syphilis (VDRL)         6
                               ..
mono                            1
pCO2                            1
pH                              1
pO2                             1
�hCG                           10
Name: unique_count, Length: 624, dtype: int64

In [16]:
g.head()

                                                                        unique
attr_name
\nCorresponding urine sugar                                       [N/S, Trace]
    1.  HBsAg                                             [Negative, Positive]
    2.  Anti HCV                                          [Negative, Negaitve]
    3.  HIV I & II                                                  [Negative]
    4.  Syphilis (VDRL)      [Negative, Non-Reactive, Non Reactive, Non rea...

In [68]:
df_white_blood_cell = df[df['attr_name'] == "White Blood Cells"]

In [69]:
df_white_blood_cell

         attr_id          attr_name result test_group_name   data_type
31      102223.0  White Blood Cells  11.91     Total Count  Neumerical
66      102223.0  White Blood Cells    6.6     Total Count  Neumerical
132     100211.0  White Blood Cells   8.80     Total Count  Neumerical
166     102223.0  White Blood Cells    1.0     Total Count  Neumerical
231     102223.0  White Blood Cells   13.0     Total Count  Neumerical
...          ...                ...    ...             ...         ...
178019  102223.0  White Blood Cells   13.5     Total Count  Neumerical
178114  102223.0  White Blood Cells     20     Total Count  Neumerical
178257  102223.0  White Blood Cells     11     Total Count  Neumerical
178365  102223.0  White Blood Cells    7.0     Total Count  Neumerical
178530  102223.0  White Blood Cells    nan     Total Count  Neumerical

[2143 rows x 5 columns]

In [70]:
df_sperm_via= df[df['attr_name'] == "Sperm viability"]

In [71]:
df_sperm_via

,attr_id,attr_name,result,test_group_name,data_type
25303,102214.0,Sperm viability,nan,NaN,Neumerical
30013,102214.0,Sperm viability,Normozoospermia,NaN,Categorical
58322,102214.0,Sperm viability,nan,NaN,Neumerical
72504,102214.0,Sperm viability,nan,NaN,Neumerical
91432,102214.0,Sperm viability,nan,NaN,Neumerical
95919,102214.0,Sperm viability,nan,NaN,Neumerical
112259,102214.0,Sperm viability,nan,NaN,Neumerical
165186,102214.0,Sperm viability,nan,NaN,Neumerical

In [72]:
df_c= df[df['attr_name'] == "CRP (C-Reactive Protein)"]

In [73]:
df_c

         attr_id                 attr_name result test_group_name   data_type
794     100638.0  CRP (C-Reactive Protein)  112.3             NaN  Neumerical
815     100638.0  CRP (C-Reactive Protein)   15.0             NaN  Neumerical
2917    100638.0  CRP (C-Reactive Protein)  240.7             NaN  Neumerical
3344    100638.0  CRP (C-Reactive Protein)    2.8             NaN  Neumerical
3715    100638.0  CRP (C-Reactive Protein)    6.3             NaN  Neumerical
...          ...                       ...    ...             ...         ...
176960  100638.0  CRP (C-Reactive Protein)   21.0             NaN  Neumerical
177023  100638.0  CRP (C-Reactive Protein)   12.5             NaN  Neumerical
177342  100638.0  CRP (C-Reactive Protein)   10.2             NaN  Neumerical
177943  100638.0  CRP (C-Reactive Protein)   78.9             NaN  Neumerical
178152  100638.0  CRP (C-Reactive Protein)    0.9             NaN  Neumerical

[482 rows x 5 columns]

In [ ]:
df_mcv= df[df['attr_name'] == "M.C.V."]

In [ ]:
df_mcv

In [ ]:
for index, row in df.iterrows():
    name = row['attr_name']
    df[df['attr_name'] == name]
    df



     # df[df['attr_name'] == row['attr_name'].astype(str)]
     # df

In [27]:
df

,attr_id,attr_name,result,test_group_name
0,101518.0,Urea,73.2,NaN
1,102046.0,Creatinine,2.4,NaN
2,102182.0,Triglycerides,280,Lipid Profile Serum
3,102181.0,LDL Cholesterol,264,Lipid Profile Serum
4,102180.0,HDL Cholesterol,47,Lipid Profile Serum
...,...,...,...,...
178546,100081.0,Blast,NaN,Differential Count
178547,100082.0,Atypical and hairy looking cells,NaN,Differential Count
178548,100083.0,Others (DC),NaN,Differential Count
178549,104291.0,ESR,NaN,NaN
178550,3002238.0,Skin Biopsy (HISTO-PATHOLOGY),NaN,NaN

In [34]:
df_group = df.groupby(['attr_name', 'result'])['attr_name'].count()

In [36]:
df_group

attr_name                    result
\nCorresponding urine sugar  N/S           8
                             Trace         1
    1.  HBsAg                Negative    240
                             Positive      1
    2.  Anti HCV             Negaitve      1
                                        ...
�hCG                         520.34        1
                             528.31        1
                             7934.13       1
                             < 1.20        8
                             <1.20         3
Name: attr_name, Length: 10340, dtype: int64