In [28]:
import pandas as pd

import numpy as np

In [29]:
df = pd.read_csv("./dataset/APItoStaging/testresult-6.csv")

C:\Users\ASUS\AppData\Local\Temp\ipykernel_16664\4011507011.py:1: DtypeWarning: Columns (8,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./dataset/APItoStaging/testresult-6.csv")

In [30]:
df = df[['attr_id', 'attr_name', 'result', 'test_group_name']]

In [31]:
df['result'] = df['result'].astype(str);

In [32]:
df

         attr_id                attr_name result     test_group_name
0       100083.0              Others (DC)    nan  Differential Count
1       104291.0                      ESR    nan                 NaN
2       104387.0                      LUC     00  Differential Count
3       104442.0      Blast+ Promyelocyte    nan  Differential Count
4       104443.0     Blast+ Prolymphocyte    nan  Differential Count
...          ...                      ...    ...                 ...
534120  102218.0  ESR (Westergren Method)     25                 NaN
534121  102220.0          Red Blood Cells    5.2         Total Count
534122  102221.0                Platelets    390         Total Count
534123  102223.0        White Blood Cells    8.1         Total Count
534124  102224.0               Neutrophil     58  Differential Count

[534125 rows x 4 columns]

In [33]:
types = []
for index, row in df.iterrows():

#     print(row['test_name'], row['attribute'], row['result'], type(row['result']))
    try:
        val = float(row['result'])
        types.append('Neumerical')
    except:
        types.append('Categorical')
#         print("That's not an int!")
print(len(types), df.shape)
# print(types)
df['data_type'] = pd.DataFrame(types)
df

534125 (534125, 4)

,attr_id,attr_name,result,test_group_name,data_type
0,100083.0,Others (DC),nan,Differential Count,Neumerical
1,104291.0,ESR,nan,NaN,Neumerical
2,104387.0,LUC,00,Differential Count,Neumerical
3,104442.0,Blast+ Promyelocyte,nan,Differential Count,Neumerical
4,104443.0,Blast+ Prolymphocyte,nan,Differential Count,Neumerical
...,...,...,...,...,...
534120,102218.0,ESR (Westergren Method),25,NaN,Neumerical
534121,102220.0,Red Blood Cells,5.2,Total Count,Neumerical
534122,102221.0,Platelets,390,Total Count,Neumerical
534123,102223.0,White Blood Cells,8.1,Total Count,Neumerical
534124,102224.0,Neutrophil,58,Differential Count,Neumerical

In [34]:
df_catagorical = df[df['data_type'] == 'Categorical']

In [35]:
df_cat =df_catagorical.loc[df_catagorical['attr_name'].isin(['Anti-HAV IgM','Anti-HBe' ,'Blood Group :','Blood Group','Blood Group: ABO','Chikungunya Antibody IgM','Color','Colour','Anti-HCV','HBs Ag',  'Fat Globules','Toxoplasma IgM','M.P.V','Mucus','Albumin','Appearance','Anti-HCV','Anti-HBc Total','Dengue Ag NS1 (ICT)','Malaria Ag (ICT)','IgG Against Dengue Virus','Rh (D)','Rh Type :','VDRL',])]
df_cat

          attr_id      attr_name    result       test_group_name    data_type
232     3000017.0     Appearance     Clear  PHYSICAL EXAMINATION  Categorical
234     3000020.0         Colour     Straw  PHYSICAL EXAMINATION  Categorical
528     3000017.0     Appearance     Clear  PHYSICAL EXAMINATION  Categorical
530     3000020.0         Colour     Straw  PHYSICAL EXAMINATION  Categorical
629      102197.0   Fat Globules       (+)                OTHERS  Categorical
...           ...            ...       ...                   ...          ...
533972  3002611.0      Rh Type :  Positive                   NaN  Categorical
533984  3002604.0  Blood Group :       "B"                   NaN  Categorical
533985  3002605.0      Rh Type :  Positive                   NaN  Categorical
533990  3002610.0  Blood Group :       "B"                   NaN  Categorical
533991  3002611.0      Rh Type :  Positive                   NaN  Categorical

[11998 rows x 5 columns]

In [36]:
df_cat.to_csv("./dataset/Choose_Atribute/attribute_6.csv")

In [8]:
g = df_catagorical.groupby('attr_name', as_index = False)['result'].agg(['unique'])
g

                                                                   unique
attr_name
         H. influenzae type b                                  [Negative]
         N. meningitidis ACYW135                               [Negative]
         N. meningitidis B/E. coli\t                           [Negative]
         S. pneumoniae                                         [Negative]
         Streptococcus group B                                 [Negative]
...                                                                   ...
Yeast                                 [Nil, Trace, (++), (+), 0-1, (+++)]
Yeasts                                                  [Nil, Trace, (+)]
a. Normal     :                                                     [Nil]
b. Abnormal :                                                       [Nil]
�hCG                                                      [< 1.20, <1.20]

[277 rows x 1 columns]

attr_name                result
    1.  HBsAg            Negative        1043
                         Positive           3
    2.  Anti HCV         Negative        1046
    3.  HIV I & II       Negative        1046
    4.  Syphilis (VDRL)  Non Reactive    1045
                                         ...
Yeasts                   Trace              3
pH                       .                  1
�hCG                     < 1.20            50
                         <1.20              2
                         > 225000.00        1
Name: attr_name, Length: 3164, dtype: int64

In [11]:
df = (df['attr_name'].unique())

In [12]:
df

array(['Uric Acid', 'Nitrate', 'Urates', 'Sugar', 'Amor. Phos',
       'Triple Phos', 'Amor. Urates', 'Epithelial', 'Granular', 'Hyaline',
       'Bilirubin', 'Sp. Gravity', 'VDRL', 'Method: Precipitation',
       'HBs Ag', 'Blood Group: ABO', 'Rh (D)', 'TSH', 'F-T4', 'HCT (PCV)',
       'M.C.V.', 'M.C.H.', 'M.C.H.C.', 'ESR (Westergren Method)',
       'Red Blood Cells', 'Platelets', 'White Blood Cells', 'Neutrophil',
       'Lymphocyte', 'Monocyte', 'Eosinophil', 'Basophil', 'Myeloblast',
       'Haemoglobin', 'Lymphoblast', 'Myelocyte', 'Myelo + Metamyelocyte',
       'Atypical Cells', 'R.D.W.-C.V.', 'R.D.W.-S.D.', 'M.P.V',
       'Meta Myelocyte', 'Blast', 'Atypical and hairy looking cells',
       'Others (DC)', 'ESR', 'LUC', 'Blast+ Promyelocyte',
       'Blast+ Prolymphocyte', 'Immature  Cells', 'Prolymphocyte',
       'Myelomonocyte', 'Promyelocyte', 'P-LCR', 'Neut', 'Lymph', 'mono',
       'eo', 'baso', 'NRBC', 'NEUT', 'PDW', 'PCT', 'Protein',
       'Ketones body', nan, 'Reaction(PH)', 'Urobilinogen', 'Pus Cell',
       'Sediment', 'Blood', 'Appearance', 'Cellular', 'Colour',
       'Epithelial Cells', 'RBC', 'CELLS /HPF', 'Trichomonas Vaginalis',
       'Yeast', 'Fungus', 'Casts', 'Cal. Oxalate', 'Leukocyte Esterase',
       'Quantity', 'CEA', 'Serum PSA',
       'Vitamin D (25, OH Cholecalciferol)', 'Cholesterol', 'Sodium',
       'Potassium', 'Chloride', 'T-CO2 (Venous)', 'Urinary Creatinine',
       'Albumin Creatinine Ratio', 'Urinary Micro Albumin',
       'Random Blood Sugar', 'Corresponding urine sugar', 'HbA1c',
       'Creatinine', 'Stercobilinogen', 'A. lumbricoides', 'Hook Worm',
       'T. trichiura', 'R B C', 'Pus Cells', 'Vegetable Cells', 'Starch',
       'Muscle Fibres', 'Fat Globules', 'Yeasts', 'Floatation method',
       'Consistency', 'Mucus', 'PROTOZOA', 'Ent. histolytica',
       'Ent. coli', 'Reaction', 'Reducing Substance', 'Color', 'Odor',
       'Giardia intest', 'Occult Blood Test', 'Macrophage', 'Cyst', 'Ova',
       'Occult Blood Test (OBT)', 'ALT (SGPT)', 'Serum Vit. B-12',
       'Comment', 'Ferritin', 'Total Iron Binding Capacity (TIBC)',
       'Iron', '*S. Creatinine', '** Age', 'Weight', 'Gender', '*** eGFR',
       'WBC', 'Malarial Parasite', 'Total Cholesterol', 'HDL Cholesterol',
       'LDL Cholesterol', 'Triglycerides', 'Bleeding time',
       'Clotting time', 'Anti-HCV', 'HIV Ab I&II', 'Ceftriaxone',
       'Cefuroxime', 'Cephradine', 'Ciprofloxacin', 'Cloxacillin',
       'Co-trimoxazole', 'Erythromycin', 'Gentamicin', 'Levofloxacin',
       'Linezolid', 'Mecillinam', 'Neomycin', 'Netilmicin',
       'Nitrofurantoin', 'Penicillin', 'Amoxyclave', 'Azithromycin',
       'Aztreonam', 'Polymyxin B', 'Meropenem', 'Piperacillin/Tazobactum',
       'Colistin', 'Polymyxin B(300U) PB', 'Cefoxitin', 'Clindamycin',
       'Tigecycline', 'Teicoplanin', 'Mupirocin', 'Cefpodoxime',
       'Ampicillin', 'Cefoperazone/Sulbactam', 'Tobramycin', 'Doripenem',
       '*Colistin', 'Gentamicin HGM', '*Polymyxin B', '*Azithromycin',
       'Cefalexin', 'Amikacin', 'Cefotaxime', 'Chloramphenicol',
       'Doxycycline', 'Imipenem', 'Nalidixic Acid', 'Piperacillin',
       'Tetracycline', 'Vancomycin', 'Amoxycillin', 'Cefaclor',
       'Cefepime', 'Cefixime', 'Ceftazidime', 'Alkaline Phosphatase',
       'Serum CA 19-9', 'Albumin', 'Control', 'Index', 'Ratio', 'INR',
       'Patient', 'Spermatozoa', 'Paps Smear', 'Candida', 'W B C',
       'Bile Pigment', 'Ketones', 'B.J. Protein', 'Bacteria', 'Volume',
       'Bile Salt', 'Ex. Phosphate', '#', 'Dead Sperm', 'Cystine crystal',
       'Fasting Blood Sugar', 'Corresponding Urine Suger', '2 hrs ABF',
       'Calcium', 'RubellA IgM', 'Urea', 'CRP (C-Reactive Protein)',
       'Blood Bag No :', 'Unit :', "Patient's Blood Grouping Report :",
       'Blood Group :', 'Rh Type :', 'Donor information :',
       'Donor Name :', 'Age :', 'Gender :', 'Blood Component :',
       'Cross Match with donor :', 'Screening Test Done :', '1. HBsAg',
       '2. Anti HCV', '3. HIV I & II', '4. Syphilis (VDRL)',
       '5. Malarial Parasite (ICT)', 'Ceftriaxone (30 �g)',
       'Imipenem (10 �g)', 'Meropenem (10 �g)', 'Ceftazidime (30 �g)',
       'Pipercillin/Tazobactam (110 �g)', 'Oxacillin', 'Rifampicin',
       'Cefixime (5  �g)', 'Azithromycin (15 �g)', 'Levofloxacin (5 �g)',
       'Amikacin (30 �g)', 'Polymyxin B (300 U)', 'Pipercillin (100 �g)',
       'Nalidixic Acid (30 �g)', 'Amoxycillin (10 �g)',
       'Amoxycillin/Clavulanic Acid (30 �g)',
       'Trimethoprim/Sulfamethoxazole', 'Azithromycin (15�g)',
       'Gentamicin High', 'Daptomycin', 'Ertapenem', '*Aztreonam',
       '*Cefixime', '*Ceftriaxone', '*Ceftazidime',
       'Corresponding urine sougar', 'IgM Against Dengue Virus',
       'Cannabinoids', 'Blast/Atypical Cells', 'Micro Filaria', 'Note',
       'P.C.V. (Hct)', 'Adenosine Deaminase (ADA)', 'Plasma Ammonia',
       'Urinary Protein (Spot)', 'Bilirubin Total', 'HCV RNA',
       'Serum IgE', 'Magnesium', 'Widal Test', 'TO :', 'AO :', 'BO :',
       'Potassium (K+)', 'ASO Titre', 'Pregnancy Test', 'Testosterone',
       'Serum Lipase', 'Amylase', 'Serum Urea', 'Serum Creatinine',
       'Sodium (Na+)', 'TCO2', 'Bleeding Time(BT)', 'Endoscopic Biopsy',
       'F-T3', 'CPK', 'Anti-HEV IgM (ELISA)', 'Procalcitonin', 'Pro BNP',
       'GAMMA-GT', 'Anti CCP Antibody', 'pCO2', 'pO2', 'HCO3', 'O2 Sat',
       'BE (Base Excess)', 'pH', 'Rose Waaler Test', 'ANA', 'RA/RF',
       'AFB', 'Epithelial cell', 'Serum CA 15-3', 'Anti B. Melitensis :',
       'Anti-Brucella Ab',
       '(Titer of >= 1:160 is considered significant)',
       'Method: Agglutination', 'OX2 :', 'OX19 :', 'Anti-Rickettsia  Ab',
       'Anti B. Abortus :', 'Febrile Antigen', 'Serum Iron', 'TIBC',
       'Serum Ferritin', 'Total Protein', 'U. Amylase', 'CFT-Filaria',
       '2 hrs after 75gms of oral glucose', 'Corresponding urine sugar\n',
       'LDH', 'AST (SGOT)', 'ESR (Capillary Method - Alifax)',
       'Hb Electrophoresis', 'Gram Stain', 'Gram Positive Bacilli',
       'Epithelial cells', 'Yeast cell',
       'Gram negative extracellular diplococci', 'Gram Positive Cocci',
       'Pus cells', 'Gram Negative Bacilli',
       'Gram negative intracellular diplococci', 'Lactobacilli',
       'Troponin I', 'Urinary Total Protein (UTP) 24hrs',
       '24hrs Urine Volume', 'Anti-HBs', 'Alk Phosphate', '�hCG',
       'Sulfonamide', ' Anti H. Pylori IgG', 'Gram Positive cocci',
       'Gram stain', 'Gram negative extracellur diplococci',
       'BAL for Malignant Cell', 'Fungus (GMS) Stain',
       'BAL fluid for Genexpert', 'Lab No :', 'Physical examination :',
       'Specimen :', 'Volume :', 'Colour :', 'Appearance :', 'Sedimen :',
       'Clot :', 'Microscopy :', 'a. Wet film :', 'RBC :', 'WBC :',
       "b. Leishman's stain :", 'Total count :', 'Differential count :',
       'Lymphocytes :', 'Polymorphs :', 'Histiocytes :',
       'Other Mononuclear cells :', 'Ascitic Fluid for Biochemisry',
       'Ascitic fluid for Glucose', 'Ascitic fluid for Protein',
       '2 hrs After Lunch', 'AFP (Alpha-Feto-Protein)',
       'Anti-Rickettsia Ab', 'Triple Antigen',
       '(Titer of > 1:80 is considered significant)',
       "Coomb's Test (Direct)", "Coomb's Test (Indirect)", 'D-Dimer',
       'Reticulocyte Count', 'Reticulocyte  Haemoglobin', 'Serum CA-125',
       'Gram negative diplococci', 'Ceruloplasmin', 'HBc Total',
       'Phosphate', 'Cortisol Morning-(Cortisol Morning)',
       'Serum Prolactin', '*Triglycerides', 'Blood Osmolality',
       'Urine Osmolality', 'Anti-HBc Total',
       '1 hr after 75gms of oral glucose',
       'Corresponding urine sugar 1h 75gm\n', 'Inorganic Phosphate(PO4)',
       'FSH', 'P-ANCA', 'C-ANCA', 'Lithium', 'HBe Ag', 'HBV DNA',
       'i-STAT cTnl (Troponin I)', 'LH',
       'Total Circulatory Esonophil Count', 'IgG Against Dengue Virus',
       ' ACTH', 'Cortisol', 'Ascitic Fluid for Malignant Cell',
       'Dengue Ag NS1 (ICT)', 'FDP', 'Direct', 'Indirect',
       'Vivax Malaria Ag', 'Kala Azar Ab', 'Ascitic Fluid for ADA',
       'Ascitic Fulid for Albumin', 'Ascitic  Fluid For Amylase',
       'Glucose', 'BAL for Cytology', 'BAL for TV C/S', 'CK-MB', 'T4',
       'T3', 'CSF for Malignant Cell', 'Schedule date of observation',
       'But the patient reported on', 'Date of injection',
       'Dose of injection', 'Date of observation', 'On observation',
       'Diameter', 'Interpretation', 'Site', 'Serum Folate',
       'Mesothelial cell', 'Pleural fluid for ADA', 'Total count (WBC) :',
       'Other Mononuclear cell :', 'Pleural Fluid for Malignant Cell',
       'Globulin', 'A/G Ratio', 'Rh-Antibody Detection',
       'Myelomonocytic blast', 'Reactive Lymphocyte', '2 hrs After Meal',
       'Ketone Bodies', 'Creatinine Clearance Rate', 'Urine Creatinine',
       '24 hrs Urine Creatinine', 'Progesterone', 'Wound Swab for AFB',
       'Anti-Thyroid Peroxidase', 'Anti-Thyroglobulin',
       "Patient's Blood Grouping Report:", 'Donor  information :',
       'Cross Match with donor', '    1.  HBsAg', '    2.  Anti HCV',
       '    3.  HIV I & II', '    4.  Syphilis (VDRL)',
       '    5.  Malarial Parasite(ICT)', ' Colour :',
       'Total count Of WBC :', 'Fungal (GMS) stain:', 'Neutrophil :',
       'Eosinophil :', 'Gram Reactive Organism', 'Appendymal cell',
       'HSV I & II PCR (CSF)', 'Bence Jones Protein',
       'BAL for fungus culture', 'Anti-Phospholipid AB', 'Anti-ds DNA',
       'GeneXpert MTB/RIF (TISSUE)', 'Parathyroid Hormone (PTH)',
       'Immuno Electrophoresis', 'Pus for Fungus C/S', 'Sample Rate',
       'Cut Off Rate', 'Opinion', 'Anti-HBe', 'Microalbumin',
       'Anti-HAV IgM', 'VDRL Qualitative', 'VDRL Quantitative',
       'Salmonella typhi IgG', 'Salmonella typhi IgM', 'Malaria Ag (ICT)',
       'Trichomonas vaginalis', 'Clue cell', 'Fungal Hyphae',
       'Hooklets of Hydatid Cyst', 'Lactate', 'Uric Acid - Urine',
       'Method of collection', 'Date and time of examination',
       'Marrital Status', 'Period of Abstinance',
       'Date and time of collection', 'Appearance/Color', 'Viscosity',
       'Liquefaction', 'Sperm count', 'Actively Motile',
       'Sperm viability', 'Sperm clumping', 'Weakly Motile', 'Non Motile',
       'a. Normal     :', 'b. Abnormal :', 'Germ cells',
       'Clotting Time(CT)', 'Sputum for GeneXpert', 'Uric Acid Crystal',
       'Estradiol/Oestrogen', 'Anti Mullerian Hormone (AMH)', 'TPHA',
       'Herpes Simplex Virus (II) IgG', 'Herpes Simplex Virus (I) IgG',
       'Fibrinogen Level', 'Sulphonamide crystal', 'Free Testosteron',
       'Gram Negative rods', 'Valproic Acid', 'S. Homocysteine',
       'Protein-C', 'Protein-S', 'Anti-HBc IgM', ' LDH',
       'Pleural fluid for GeneXpert', 'Chikungunya Antibody IgM', '.',
       'Ascitic Fluid for Genexpert', 'Floatation Method - Stool',
       'Protein Electrophoresis', 'Fasting Insulin',
       'Venous Blood Gas (VBG)', 'CSF for Gram stain',
       'Cortisol Evening-(Cortisol Evening)', 'KOH Preparation',
       'Rubella IgG', 'Chikungunya Antibody IgG', 'Sodium 24hrs',
       '24Hrs Urine Volume', 'Histopathology',
       'CSF for Bacterial Antigen', 'TSH Receptor Antibody (TRAB)',
       'Cephalexin', 'Protein Creatinine Ratio', 'Urinary Protein',
       'Free cortisol in Salivary (11 PM/Midnight)',
       'Anti-Phospholipid IgG', 'Turbidity', 'Deposit', 'Blood Clot',
       'TC of WBC', 'Lymphocytes', 'Neutrophils', 'Mononuclear cell',
       'Candida/Fungal Hyphae', 'Lacto Bacilli', 'Spot Urine for Sodium',
       'HBsAg', 'Anti HCV', 'HIV I & II', 'Syphilis (VDRL)',
       'Urine For OBT', 'Wet film\t', 'Tisssue for Culture', 'Cytology',
       'Fluid Adenosine Deaminase (Fluid for ADA)', 'Gram Negative Rods',
       'Sodium - Urine', 'BUN', 'Sputum R/E', 'Pus cell', 'Stool R/S',
       'Hyaline Cast', 'Rh-Antibody Titre', 'Immunoglobulins Panel',
       'Serum IgM', 'Serum IgA', 'Serum IgG', 'Growth Hormone',
       'Serum IgA Level', 'Tissue Transglutaminase -IgA',
       'Urine  Amphetamine', 'Opiates', 'U. Benzodiazepines',
       'Histopathology - Small', 'Fluid for C/S', 'Urine Lipase',
       'Wet Film', 'Dengue Antibody IgM:', 'Dengue Antibody IgG:',
       'Malaria Parasite', 'Renin in plasma', 'Factor IX Activity',
       'Factor VIII Activity', 'Fungus (GMS) stain', 'Aldolase',
       'Fungal hyphae', 'Herpes Simplex Virus (I) IgM',
       'Herpes Simplex Virus (II) IgM', '2 hrs P.P.', 'Anti TPO',
       '17-a OH Progesterone', 'DHEA-SO4', 'Gum Biopsy tissue',
       'Filaria Ab-IgM', 'Filaria Ab-IgG', 'Serum Epinephrine',
       'Serum Nor- Epinephrine', 'Review report (more than 2 slides)',
       'ER,PR & HER 2 (NEU)', 'Cytomegalo Virus IgG',
       'Cytomegalo Virus IgM', 'TTF1', 'P63', 'Serum  C3  Level',
       'Serum  C4  Level', 'Pericardial Fluid for Cytology', 'Serum ADA',
       'KLB', '*HDL Cholesterol', 'HLA-B-27 (PCR Method)',
       'Serum IgG Level', 'Anti-Phospholipid -IgG',
       'Anti-Phospholipid-IgM', 'Gram negetive intracellular diplococci',
       'Sulfonamides', 'Bile for C/S',
       'Angiotensin Converting enzyme (ACE)', 'HBs Ab', 'CK',
       'Dermatophytes', 'Calcium Urine 24hrs', 'Acetone', 'HSV 1 & 2 IgM',
       'Oral Biopsy tissue', 'Pleural  Fluid For Amylase',
       "Leishman's stain :", 'Herpes Simplex Virus-I IgM',
       'Herpes Simplex Virus-I IgG', 'Herpes Simplex Virus-II IgM',
       'Herpes Simplex Virus-II IgG',
       'Fractional Excreation of Sodium (FENa)', 'Serum Na+',
       'Serum creatinine', 'Urine Na+', 'Urine creatinine', 'CSF for ADA',
       'HCV Genotyping', 'Urinary Albumin 24hrs', 'Urinary Total Volume',
       'C- Peptide', 'AFB (Ziehl-Neelsen Stain)', 'Tissue For AFB',
       'Microscopic Examination', 'Acid Phosphatase', "Coomb's test",
       "Direct Coomb's test", "Indirect Coomb's test",
       'Body Composition Analysis', 'Urine Potassium (K+)',
       'Urine for Potassium Creatinine Ratio (Spot)',
       'Drain fluid for Bilirubin', 'Serum Aldosterone', 'AFP',
       'Anti-Thyroglobulin Ab', 'Chlamydia antibody', 'Serum Insulin',
       'Insulin-like Grouth Factor- 1 (IGF-1)', 'Total Acid Phosphatase',
       'Non Prostatic Acid Phosphatase', 'Prostatic Acid Phosphatase',
       'Anti-DNA Antibody', 'Stellar Phos', 'P.C.V.',
       'Leptospiral ab (ICT)', 'Spot Urine for Potasium',
       'Gram negetive extracellur diplococci',
       'Insulin-like Growth Factor- 1 (IGF-1)', 'Atypical blast cells',
       'Blood Flowcytometry', 'Gastric Larvage for Genexpert',
       'Sputum for TB C/S', 'Z. N. Stain', 'Glutamic Acid',
       'Nail Scraping for Fungus Culture', 'Uric Acid crystal',
       '24 hrs Urinary Cortisol', 'Urine volume', '2 hrs After Dinner',
       'Before Lunch', 'Before Dinner', '24hrs Urine Sodium',
       '24hrs Urine Potassium', '24hrs Urine Chloride', 'ANTI-CMV IgG',
       'H.C.T.', 'Mesothelial cell :', 'Cervical for Cytology',
       'Valporic Acid', 'Before', 'After', 'BAL for fungus (GMS) stain',
       'PGx of Aspirin', 'PGx of Clopidogrel', 'Mesothelial cells :',
       'VMA 24hrs Urine', '24 Hrs Urine Volume', "a. Leishman's stain :",
       'Urine Specific Gravity', 'Mesothelial cell:',
       'Anti-smooth muscle antibody'], dtype=object)

In [15]:
g = df.groupby('attr_name', as_index = False)['result'].agg(['unique'])

AttributeError: 'numpy.ndarray' object has no attribute 'groupby'

In [8]:
g

                                                                           unique
attr_name
    1.  HBsAg                                                [Negative, Positive]
    2.  Anti HCV                                                       [Negative]
    3.  HIV I & II                                                     [Negative]
    4.  Syphilis (VDRL)                                  [Non Reactive, Positive]
    5.  Malarial Parasite(ICT)                                         [Negative]
...                                                                           ...
mono                                                                        [nan]
pCO2                                                                        [nan]
pH                                                                       [nan, .]
pO2                                                                         [nan]
�hCG                            [49192.02, < 1.20, 99139.07, 17.24, 961.09, 23...

[730 rows x 1 columns]

In [10]:
df

,attr_id,attr_name,result,test_group_name
0,3000031.0,Uric Acid,nan,CRYSTALS & OTHERS
1,3000032.0,Nitrate,Absent,CHEMICAL EXAMINATION
2,3000034.0,Urates,nan,Crystals & Others
3,3000037.0,Sugar,Nil,CHEMICAL EXAMINATION
4,3000039.0,Amor. Phos,Nil,CRYSTALS & OTHERS
...,...,...,...,...
755710,3002210.0,5. Malarial Parasite(ICT),Negative,NaN
755711,101214.0,Sodium,159,S. Electrolytes
755712,102050.0,Potassium,3.9,S. Electrolytes
755713,102051.0,Chloride,115,S. Electrolytes
755714,102052.0,T-CO2 (Venous),34,S. Electrolytes